
<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}WebNotes{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('css/ironstyle.css') }}" >
    </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-dark ironnavbar"  style="background: linear-gradient(#193a53, #192945)">
        <a class="navbar-brand" href="{{ path('home')}}">WebNotes </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" >
            </ul>
        </div>
    </nav>

    <main role="main">
        <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </main>
    </body>
</html>
